
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.counters{
	margin-right: 30px;
	font-size: 10px;
	text-align: center;

	strong{
	font-size: 2em;
	display: block;
	}
	.vote, .answer{
		width: 60px;
		height: 60px;
		border-radius: 1px;
	}
	.status{

		&.unanswered{
			border:none;

		}
		&.answered{
			color:$green;
			border:1px solid $green;
			
		}
		&.answered-accepted{
			background:$green;
			color: $white;
		}
	}
	.view{
		margin-top: 10px;
	}
}
